@import "~antd/dist/antd.less";

.App {
  text-align: center;
}

.App-header {
  background-color: #c10a08;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-transform: uppercase;
  width: 100%;
  padding: 10px;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.site-layout {
  overflow: hidden;
}

.site-layout .site-layout-background .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.site-layout .site-layout-background .trigger:hover {
  color: #1890ff;
}

.site-layout-background {
  background: #fff;
}

.right-sider {
  background: white;
  flex: 0 0 250px !important;
  width: 250px !important;
  min-width: 250px !important;
  max-width: 250px !important;
  padding-top: 65px;
}
